<h2>Bon Biní na Palabra!</h2>
<p>Un proyekto di FPI, gefinancierd door USONA en uitgevoerd door Suares & Co NV</p>
<p>Voor inhoudelijke vragen: <%= mail_to 'info@fpi.cw' %></p>
<p>Voor technische vragen: <%= mail_to 'ace@suares.com' %></p>
